[submodule "SdlGui"]
	path = SdlGui
	url = https://github.com/mwthinker/SdlGui.git
[submodule "DataEntry"]
	path = DataEntry
	url = https://github.com/mwthinker/DataEntry.git
[submodule "Signal"]
	path = Signal
	url = https://github.com/mwthinker/Signal.git
